#sort{
	margin-left: 20px;
}
#dropdownMenu1{
	width: 125px;
}
#percent{
	font-size: 75px;
}
.centerText {
	text-align: center;
}
#post-wrapper{
	width: 90%;
	margin-left: 5%;
}
.post{
	width: 100%;
	min-height: 20px;
	border: 1px solid #CCD8FC;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.date{
	width: 100%;
	text-align: right;
	font-size: 10px;
	color: #8A8A8A;
	bottom: 0;
}
#loadMore{
	margin-top: 50px;
	margin-left: 44%;
	color: #CCD8FC;
	font-size: 25px;
	background: none;
	border: 1px solid #CCD8FC;
	border-radius: 10px;
	padding: 10px;
	width: 150px;
	text-align: center;
}
#loadMore:hover{
	color: #AEC2FC;
	cursor: pointer;

}