@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

#percent{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 75px;
}
.centerText {
	text-align: center;
}
#post-wrapper{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 90%;
	margin-left: 5%;
}
.post{
	width: 100%;
	min-height: 75px;
	border: 1px solid #CCD8FC;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#loadMore{
	margin-top: 50px;
	margin-left: 44%;
	color: #CCD8FC;
	font-size: 25px;
	background: none;
	border: 1px solid #CCD8FC;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 150px;
	text-align: center;
}
#loadMore:hover{
	color: #AEC2FC;
	cursor: pointer;

}