<!DOCTYPE html>
<script>
window.onload = function(){
	document.getElementById('submitModal').style.display = 'none';
	document.getElementById('submitModalWrapper').style.display = 'none';
};
</script>
<html lang="en" ng-app="storganManley">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sentim-Net</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="css/chart.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>

  	<div ng-controller="navController">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="img/marist.png" height="25">
					</a>
					<span class="icon-bar"></span>
				</div>
				<ul class="nav navbar-nav">
        			<li ng-click="homeBtn()" class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        			<li><a ng-click="chartBtn()" href="#chart">Chart </a></li>
        			<li ng-click="submitBtn()" ><a href="#">Submit </a></li>
        		</ul>
        		 <h4 class="pull-right">{{ title }}</h4>
			</div>
		</nav>

		<div id="error" ng-show="error.message" class="alert alert-danger" ng-click="hideError()">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{{ error.message }} 
		</div>

	</div>

	<div ng-view>
 
    </div>

    <div id="footer">
    </div>
    <script src="js/homeController.js"></script>
	<script src="js/navController.js"></script>
	<script src="js/chartController.js"></script>
	<script src="js/submitController.js"></script>
	<script src="js/Chart.js/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div id="submitModalWrapper">
		<div id="submitModal" ng-controller="submitController">
		<h2>Submit a Confession</h2><hr>
		<textarea rows="10" cols="50" ng-model="postText" >
			
		</textarea >
			<div class="pull-right modal-buttons">
				<button class="btn btn-default" ng-click="submitBtn()" >Submit</button>
				<button class="btn btn-default" ng-click="cancelBtn()" >Cancel</button>
			</div>
		</div>

	</div>
</body>
</html>
