<!DOCTYPE html>
<script>
window.onload = function(){
	document.getElementById('submitModal').style.display = 'none';
	document.getElementById('submitModalWrapper').style.display = 'none';
};
</script>
<html lang="en" ng-app="storganManley">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Storgan Manley</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>

  	<div ng-controller="navController">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="img/marist.png" height="25">
					</a>
					<span class="icon-bar"></span>
				</div>
				<ul class="nav navbar-nav">
        			<li ng-click="homeBtn()" class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        			<li ng-click="chartBtn()" ><a href="#">Chart </a></li>
        			<li ng-click="submitBtn()" ><a href="#">Submit </a></li>
        		</ul>
        		 <h4 class="pull-right">{{ title }}</h4>
			</div>
		</nav>

		<div ng-show="showError" class="alert alert-danger">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{{ error }} 
		</div>
	</div>

	<div ng-view>
 
    </div>

    <div id="footer">
    </div>
    <script src="js/homeController.js"></script>
	<script src="js/navController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

<div id="submitModalWrapper">
	<div id="submitModal">
	</div>
</div>

</body>
</html>
